@for $index from 1 through length($o-colors-complete) - 1 {
    .o_planning_progress_gantt_#{$index - 1} {
        background: darken( nth($o-colors-complete, $index), 30% );
        display:block;
        width:0%;
        opacity: 0.15;
    }
}
