.o_fsm_industry_product {
    .o_button_invisible {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .o_qty_button {
        width:30px;
        height:30px;
    }
}
